---
Checks: '-*,
bugprone-*,
cppcoreguidelines-*,
misc-*,
modernize-*,
performance-*,
readability-*,
cppcoreguidelines-*,
hicpp-*,
google-*,
cert-*,
-readability-magic-numbers,
-readability-implicit-bool-conversion,
-readability-qualified-auto,
-readability-function-cognitive-complexity,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-avoid-goto,
-cppcoreguidelines-owning-memory,
-hicpp-avoid-goto,
-google-readability-todo,
-google-build-using-namespace,
-bugprone-reserved-identifier,
-cert-err58-cpp,
-misc-include-cleaner
'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
---


